flows_ChatWithLogin.json
[{"id":"2691321e.7f2f9e","type":"tab","label":"ChatWithLogin","disabled":false,"info":""},{"id":"31a4741a.eede8c","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"3df8902d.b5d7b","type":"http proxy","z":"","name":"proxy","url":"http://10.73.78.4:3128","noproxy":[]},{"id":"2e7a1c45.1f8284","type":"websocket in","z":"2691321e.7f2f9e","name":"","server":"31a4741a.eede8c","client":"","x":210,"y":80,"wires":[["7346b8c2.153408"]]},{"id":"7346b8c2.153408","type":"function","z":"2691321e.7f2f9e","name":"wsChatFunc","func":"node.log(msg)\ndelete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":404,"y":80,"wires":[["a0941ffb.b097d"]]},{"id":"a0941ffb.b097d","type":"websocket out","z":"2691321e.7f2f9e","name":"","server":"31a4741a.eede8c","x":565,"y":80,"wires":[]},{"id":"6d3a1b7e.6470e4","type":"template","z":"2691321e.7f2f9e","name":"chat","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" value=\"{{payload.login}}\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n      console.log(\"{{req.headers.host}}\");\n      console.log(\"{{msg.payload}}\");\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":430,"y":320,"wires":[["3dcdf3e1.89555c"]]},{"id":"3dcdf3e1.89555c","type":"http response","z":"2691321e.7f2f9e","name":"","statusCode":"","headers":{},"x":570,"y":320,"wires":[]},{"id":"3cb000d9.52d06","type":"http in","z":"2691321e.7f2f9e","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["8c3c470d.77c988"]]},{"id":"360e406f.b1598","type":"function","z":"2691321e.7f2f9e","name":"findUser","func":"let user = msg.user;\nlet users = msg.payload;\n\nfunction userFind (data) {\n   return data.login == user.email && data.password == user.password;\n}\n\nif (users.find(userFind)) {\n  msg.payload = {\"login\" : user.email};\n  return msg;\n} else {\n    msg.payload = {errMsg : \"User not found.\"};\n    node.error(\"User not found.\", msg);   \n}","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["6d3a1b7e.6470e4"]]},{"id":"8c3c470d.77c988","type":"function","z":"2691321e.7f2f9e","name":"login","func":"msg.user = msg.payload;\n\nmsg.headers = {};\nmsg.headers['x-apikey'] = 'd5fc857ae280dfeb9da0daef1dc4f54dc2ce6';\nmsg.headers['cache-control'] = 'no-cache';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["5972b5c7.286c7c"]]},{"id":"5972b5c7.286c7c","type":"http request","z":"2691321e.7f2f9e","name":"users","method":"GET","ret":"obj","paytoqs":false,"url":"https://webscraping-ab70.restdb.io/rest/users-logins","tls":"","proxy":"3df8902d.b5d7b","authType":"bearer","x":330,"y":240,"wires":[["360e406f.b1598"]]},{"id":"5d83fd12.3d46d4","type":"http in","z":"2691321e.7f2f9e","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["e876d1d9.26bff"]]},{"id":"e876d1d9.26bff","type":"template","z":"2691321e.7f2f9e","name":"loginPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>\n\n<form id=\"form\" method=\"post\" action=\"/login\">\n<div class=\"box\">\n<h1>LOGIN</h1>\n\n<input type=\"email\" name=\"email\" value=\"paqui\" onFocus=\"field_focus(this, 'email');\" onblur=\"field_blur(this, 'email');\" class=\"email\" />\n  \n<input type=\"password\" name=\"password\" value=\"123456\" onFocus=\"field_focus(this, 'email');\" onblur=\"field_blur(this, 'email');\" class=\"email\" />\n  \n<a href=\"#\"><div class=\"btn\">Sign In</div></a> <!-- End Btn -->\n\n<a href=\"#\"><div id=\"btn2\">Sign Up</div></a> <!-- End Btn2 -->\n  \n</div> <!-- End Box -->\n  \n</form>\n\n<p>{{payload.errMsg}}</p>\n\n<p>Forgot your password? <u style=\"color:#f1c40f;\">Click Here!</u></p>\n  \n<script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\" type=\"text/javascript\"></script>\n\n<script type=\"text/javascript\">\nfunction field_focus(field, email)\n  {\n    if(field.value == email)\n    {\n      field.value = '';\n    }\n  }\n\n  function field_blur(field, email)\n  {\n    if(field.value == '')\n    {\n      field.value = email;\n    }\n  }\n\n//Fade in dashboard box\n$(document).ready(function(){\n    $('.box').hide().fadeIn(1000);\n    });\n\n//Stop click event\n$('a').click(function(event){\n    $( \"#form\" ).submit();\n    event.preventDefault(); \n\t});\n</script>\n\n\n\n<style type=\"text/css\">\n    body{\n  font-family: 'Open Sans', sans-serif;\n  background:#3498db;\n  margin: 0 auto 0 auto;  \n  width:100%; \n  text-align:center;\n  margin: 20px 0px 20px 0px;   \n}\n\np{\n  font-size:12px;\n  text-decoration: none;\n  color:#ffffff;\n}\n\nh1{\n  font-size:1.5em;\n  color:#525252;\n}\n\n.box{\n  background:white;\n  width:300px;\n  border-radius:6px;\n  margin: 0 auto 0 auto;\n  padding:0px 0px 70px 0px;\n  border: #2980b9 4px solid; \n}\n\n.email{\n  background:#ecf0f1;\n  border: #ccc 1px solid;\n  border-bottom: #ccc 2px solid;\n  padding: 8px;\n  width:250px;\n  color:#AAAAAA;\n  margin-top:10px;\n  font-size:1em;\n  border-radius:4px;\n}\n\n.password{\n  border-radius:4px;\n  background:#ecf0f1;\n  border: #ccc 1px solid;\n  padding: 8px;\n  width:250px;\n  font-size:1em;\n}\n\n.btn{\n  background:#2ecc71;\n  width:125px;\n  padding-top:5px;\n  padding-bottom:5px;\n  color:white;\n  border-radius:4px;\n  border: #27ae60 1px solid;\n  \n  margin-top:20px;\n  margin-bottom:20px;\n  float:left;\n  margin-left:16px;\n  font-weight:800;\n  font-size:0.8em;\n}\n\n.btn:hover{\n  background:#2CC06B; \n}\n\n#btn2{\n  float:left;\n  background:#3498db;\n  width:125px;  padding-top:5px;\n  padding-bottom:5px;\n  color:white;\n  border-radius:4px;\n  border: #2980b9 1px solid;\n  \n  margin-top:20px;\n  margin-bottom:20px;\n  margin-left:10px;\n  font-weight:800;\n  font-size:0.8em;\n}\n\n#btn2:hover{ \nbackground:#3594D2; \n}\n</style>","output":"str","x":480,"y":400,"wires":[["af7a9035.7051e"]]},{"id":"af7a9035.7051e","type":"http response","z":"2691321e.7f2f9e","name":"","statusCode":"","headers":{},"x":630,"y":400,"wires":[]},{"id":"f5335d64.894ae","type":"catch","z":"2691321e.7f2f9e","name":"catchUserNotFoundException","scope":["360e406f.b1598"],"uncaught":false,"x":260,"y":440,"wires":[["e876d1d9.26bff"]]}]